<h1>Create a new recipe</h1>

<%= simple_form_for(@recipe) do |f| %>
  <%= f.input :name %>
  <%= f.input :food_type %>
  <%= f.input :ingredient %>
  <%= f.input :preparation_time %>
  <%= f.input :baking_temperature %>
  <%= f.submit %>
<% end %>
