<h1>This is the recipe</h1>

<%= simple_form [@recipe, @review] do |f| %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Go back to see all the recipes', recipes_path %>
<%= link_to 'Edit this recipe', edit_recipe_path(@recipe) %>
<%= link_to 'Delete this recipe', recipe_path(@recipe), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
