<h1>This is the recipe</h1>

<%= @recipe.name %>
<%= @recipe.food_type %>
<%= @recipe.ingredient %>
<%= @recipe.food_recipe %>
<%= @recipe.preparation_time %>
<%= @recipe.baking_temperature %>
<%= @recipe.cooking_time %>


<h2><%= pluralize @recipe.reviews.size, "review" %></h2>

<div>
  <% if @recipe.reviews.blank? %>
    Be the first to leave a review for <%= @recipe.name %>
  <% else %>
    <% @recipe.reviews.each do |review| %>
      <p><%= review.comment %></p>
      <p><%= review.rating %></p>
      <p><%= link_to 'Delete this review', recipe_path(@recipe), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></p>
    <% end %>

  <% end %>
</div>

<%= simple_form_for([@recipe, @review]) do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating %>
  <%= f.button :submit %>
<% end %>


<%= link_to 'Go back to see all the recipes', recipes_path %>
<%= link_to 'Edit this recipe', edit_recipe_path(@recipe) %>
<%= link_to "Delete", recipe_path(@recipe), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
